* {
  box-sizing: border-box;
 
  /* font-weight: 700; */
  font-family: "Montserrat", "Helvetica", sans-serif;
  /* font-size: 1.4rem; */
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #005da2;
}

.image_invitation {
  display: inline-block;
  width: 50%;
  position: relative;
  background: linear-gradient(#002f51 0%, #005da2 100%);
}

.image_invitation .invite {
  font-size: 2.2vw;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
}

.image_invitation img {
  width: 100%;
}

.container_form{
display: block;
color: white !important;
width: 80%;
margin-top: 20px;
}

.imput_item{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.imput_item .label{
  display: block;
font-size: 1.2em;
margin-bottom: 5px;
}
.imput_item input{
  display: block;
font-size: 1em;
height: 50px;
width: 100%;
color: white;
border-radius: 12px;
border: none;
padding-left: 20px;
background: #002f51;
}
#whatsapp{
  display: block;
font-size: 1em;
height: 50px;
width: 100%;
color: white;
border-radius: 12px;
border: none;
padding-left: 20px;
background: #002f51;
display: flex;
justify-content: center;
align-items: center;
}

.download{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 70px;
  width: 100%;
  border-radius: 12px;
  border: none;
  color: white;
  background: linear-gradient(to left, #3EB611 0%, #297a0b 100%);
  margin-top: 20px;
  cursor: pointer;

}


@media all and (max-width: 700px) {
  .image_invitation {
    width: 100%;
  }

  .image_invitation .invite {
    font-size: 4.5vw;
  }
}
